/* Estilo geral */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    align-items: center;
    width: 90%;
    gap: 20px;
}

/* Main para organização */
main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

h1 {
    padding: 10%;
    margin-right: 100px;
    font-size: 1.5em;
    line-height: 1.6;
    color: #333;
    text-align: left;

}

/* Botão */
.botton {

    margin-top: 20px;
    display: flex;
    justify-content: left;
    padding: 10%;
}

.bottonSobre {
    width: 200px;
    display: inline-block;
    text-decoration: none;
    background-color: #0B9E6D;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 1em;
    transition: background-color 0.3s ease;
    text-align: center;
}

.bottonSobre:hover {
    background-color: #0056b3;
}

/* Imagem */
.imagem {
    width: 400px;
    height: 400px;
    margin-left: 10px;
    margin-right: 100px;
}
